[submodule "coretools"]
	path = coretools
	url = https://bitbucket.org/WegmannLab/coretools.git
	branch = master
[submodule "stattools"]
	path = stattools
	url = https://bitbucket.org/wegmannlab/stattools.git
	branch = master
